.button
    padding: 15px
    border-radius: 10px
    color: $color-white
    font-size: 20px
    font-weight: bold
    letter-spacing: 1px
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.288)
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    border: none

    svg
        width: 30px
        height: 30px

    .spacer
        width: 15px

.anthem-page
    .button
        &:active
            background-color: darken($color-teal-dark, 10%)

.history-page
    .button
        &:active
            background-color: darken($color-teal-dark, 10%)

.greetings
    .button
        font-size: 17px
        width: 135px

        &:active
            background-color: darken($color-teal-dark, 10%)

.greeter-page
    .button
        font-size: 18px
        padding: 10px

    .back, .story
        width: 100%

    .row
        display: flex
        align-items: center
        width: 100%
        gap: 10px

        .prev-next
            width: 100%
            background-color: $color-pink
            height: 50px

.greyed-out
    filter: grayscale(50%)
    opacity: 0.5
