// Header
.header
    background: $gradient-dark
    display: flex
    justify-content: space-between
    height: 80px

    .logo
        width: 290px

        svg
            width: 40px
            height: 60px
            margin: 10px

        p
            color: $color-white
            font-size: 15px

    // (Mobile)
    .hamburger-button
        width: 50px
        height: 50px
        margin-right: 10px

    .close-button
        width: 50px
        height: 50px
        margin-right: 10px

// Navigation Menu (Mobile)
.nav-mobile
    overflow-x: hidden
    width: 360px
    font-size: 24px
    position: absolute
    top: 82px
    right: 0
    transition: transform 0.3s ease-in

    a
        margin: 4px 0 4px 30px
        padding: 8px 20px
        background-color: $color-white
        color: $color-teal-dark
        font-weight: bold
        border-radius: 20px 0 0 20px

        // Animates links to slide in from top to bottom
        &:nth-child(1)
            transition: background-color 0.3s, color 0.3s, margin-left 0.3s, transform 0.3s

        &:nth-child(2)
            transition: background-color 0.3s, color 0.3s, margin-left 0.3s, transform 0.35s

        &:nth-child(3)
            transition: background-color 0.3s, color 0.3s, margin-left 0.3s, transform 0.4s

        // Changes colors of links on hover
        &:hover
            background-color: $color-pink-dark
            color: $color-white
            margin-left: 10px

        &:hover svg path, &:hover svg circle
            fill: $color-white

        // Defaults for link SVGs
        svg
            width: 50px
            height: 50px
            margin-right: 10px

        svg path, svg circle
            fill: $color-black

// Navigation Bar (Desktop)
.nav-desktop
    height: 80px
    width: 478px
    display: flex
    justify-content: space-evenly
    align-items: center

    a
        background-color: $color-white
        width: 100%
        height: 100%
        border-radius: 0 0 20px 20px
        margin: 0 4px 30px 4px
        display: flex
        color: $color-teal-dark
        font-size: 20px
        font-weight: bold
        padding-top: 10px
        transition: background-color 0.3s, color 0.3s, margin-bottom 0.3s

        // Changes colors of links on hover
        &:hover
            background-color: $color-pink-dark
            color: $color-white
            margin-bottom: 10px

        &:hover svg path, &:hover svg circle
            fill: $color-white

        &:nth-child(2)
            padding-left: 15px
            font-size: 16px

            svg
                width: 40px
                height: 40px

        svg
            width: 30px
            height: 30px
            margin: 5px
            pointer-events: none

        svg path, svg circle
            fill: $color-black

// Shows navbar links
.show-right
    transform: translateX(0)

.hide-right
    transform: translateX(100%)

// For mobile landscape mode
@media only screen and (max-width: 915px) and (orientation: landscape)
    .header
        height: 40px

        .logo
            width: 220px

            svg
                width: 20px
                height: 30px
                margin: 5px

            p
                font-size: 12px

        .hamburger-button
            width: 40px
            height: 40px

        .close-button
            width: 45px
            height: 45px
            margin-right: 5px

    .nav-mobile
        top: 42px
        font-size: 20px

        a
            margin: 4px 0 4px 20px
            padding: 8px 15px

            svg
                width: 40px
                height: 40px
                margin-right: 5px
