main
    min-height: calc(100vh - 80px)
    display: flex
    flex-direction: column
    align-items: center

.card
    background-color: $color-white
    border-radius: 10px
    margin: 10px
    padding: 20px
    max-width: 1060px
    display: flex
    flex-direction: column
    align-items: center
    width: calc(100% - 20px)

    h1
        color: $color-teal-dark
        font-weight: bold
        padding-bottom: 10px

    h2
        color: $color-gray-dark
        font-weight: bold
        padding-bottom: 10px

    p
        color: $color-black

    .divider
        background-color: $color-gray-light
        height: 2px
        width: 100%

.button-fullscreen
    background-color: $color-pink-dark
    border: none
    cursor: pointer
    outline: none
    display: flex
    justify-content: center
    align-items: center
    padding: 15px
    border-radius: 10px
    color: $color-white
    font-size: 20px
    font-weight: bold
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.288)
    transition: background-color 0.1s ease-in-out

    svg
        width: 25px
        height: auto
        margin-left: 10px
        filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.1))

    &:active
        background-color: darken($color-pink-dark, 4%)
        filter: saturate(90%)

    @media(pointer: fine)
        &:hover
            background-color: darken($color-pink-dark, 4%)
            filter: saturate(90%)

// For mobile landscape mode
@media only screen and (max-width: 915px) and (orientation: landscape)
    .card
        padding: 10px
        width: calc(100% - 20px)
        max-height: calc(100vh - 60px)
        min-height: calc(100vh - 60px)

        h1
            font-size: 20px
