main
    min-height: calc(100vh - 80px)
    display: flex
    flex-direction: column
    align-items: center

.content-container
    background-color: $color-white
    border-radius: 10px
    margin: 10px
    padding: 20px
    max-width: 1060px
    display: flex
    flex-direction: column
    align-items: center
    width: calc(100% - 20px)

    h1
        color: $color-teal-dark
        font-weight: bold
        padding-bottom: 10px

    .divider
        background-color: $color-gray-light
        height: 2px
        width: 100%
