/* VideoPlayer.css */

.video-player-container
    position: relative
    width: 100%
    max-width: 100%
    padding-top: 20px
    padding-bottom: 20px
    display: flex
    flex-direction: column
    align-items: center
    gap: 20px

.youtube-player
    position: relative
    width: 100%
    padding-bottom: 56.25%
    height: 0

    & iframe
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        border-radius: 5px
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.11)

// For mobile landscape mode
@media only screen and (max-width: 1023px) and (orientation: landscape)
    h1
        margin-bottom: -5px

    .video-player-container
        padding-top: 5px
        padding-bottom: 5px
        gap: 10px

        .youtube-player
            border-radius: 5px
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.11)
