.table
    display: flex
    flex-direction: column
    width: 100%
    border-collapse: collapse
    overflow: auto

    h3
        font-weight: bold
        color: $color-gray-dark

    .table-header
        display: flex
        flex-direction: row
        width: 100%
        padding: 5px 10px
        position: sticky
        text-align: center

    .table-rows
        overflow-y: auto

    .table-row
        display: flex
        flex-direction: row
        width: 100%

        &:nth-child(even)
            background-color: #e0f0f0

        &:nth-child(odd)
            background-color: #d0e3e3

    .table-cell
        display: flex
        flex-direction: row
        align-items: center
        width: 100%
        justify-content: center
        text-align: center
        padding: 10px

    p
        color: $color-black

    svg
        width: 40px
        height: 45px
        cursor: pointer

        &:hover
            fill: $color-teal-dark

    .name
        font-weight: bold

    .table-footer
        display: flex
        flex-direction: row
        width: 100%
        padding: 5px 10px
        position: sticky

.play-icon
    filter: drop-shadow(0 0 2px rgba(54, 55, 58, 0.35))
    cursor: pointer

    .circle-fill
        fill: #f87d9a
        transition: fill 0.25s ease

    .path-fill
        fill: #eff8f9
        transition: fill 0.25s ease, transform 0.25s ease
        transform: scale(1)

    &:hover
        .circle-fill
            fill: $color-teal-light

        .path-fill
            fill: #eff8f9
            transform: scale(0.8) translateX(1.5px) translateY(1.5px)

@media screen and (max-width: 767px)
    .table
        h3
            font-size: 14px

        .table-header
            padding: 0px

        p
            font-size: 12px

        svg
            width: 35px
            height: 35px

        .table-cell
            padding: 10px 5px
