.greetings
    max-height: calc(94vh - 100px)
    min-height: 500px

    h1
        text-align: center

    .table-footer
        .button
            margin-bottom: -10px

    .view-greeting
        z-index: 100

// For mobile landscape mode
@media only screen and (max-width: 1023px) and (orientation: landscape)
    .card
        padding: 10px
        width: calc(100% - 20px)
        max-height: calc(100vh - 60px)
        min-height: calc(100vh - 60px)

        h1
            font-size: 14px

        h3
            font-size: 10px

        .table-row
            height: 40px

        svg
            width: 30px
            height: auto

    .table
        margin-top: -5px
        margin-bottom: -5px

    .table-footer
        .button
            font-size: 16px
            padding: 5px
            margin: -8px

            svg
                width: 16px
                height: auto
