.story-page
    height: calc(94vh - 100px)
    min-height: 500px
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    .story
        border-radius: 10px
        border: solid 4px $color-gray-dark
        width: 100%
        height: auto
        overflow-y: auto
        box-shadow: 0 0 6px rgba(54, 55, 58, 0.277)

    .button
        background-color: $color-pink
        padding: 10px
        display: flex
        transition: background-color 0.1s ease-in-out

        &:active
            background-color: darken($color-pink, 5%)

        @media(pointer: fine)
            &:hover
                background-color: darken($color-pink, 5%)

    .back
        background-color: $color-teal-dark
        font-size: 18px
        width: 250px
        margin-top: 10px

        &:active
            background-color: darken($color-teal-dark, 10%)

        @media(pointer: fine)
            &:hover
                background-color: darken($color-teal-dark, 5%)

        svg
            height: 24px
            width: 24px

    .story-navigation
        display: flex
        justify-content: space-between
        align-items: center
        gap: 10px
        margin-top: 10px

        .button
            width: 120px

@media screen and (max-width: 767px)
    .story-page
        h1
            font-size: 24px

@media only screen and (max-width: 1023px) and (orientation: landscape)
    .button
        padding: 10px
        font-size: 16px
        border-radius: 5px

        svg
            height: 20px
            width: 20px

    .button-fullscreen
        padding: 10px
        border-radius: 5px
        font-size: 16px

        svg
            width: 20px
            margin-left: 5px
